<h1>All Work Beings</h1>

<a href="/add_new_user">Add a new user</a>

<div class="users">
  <% User.all.each do |u| %>
    <h3>
      <img src="<%= u.avatar %>" />
      <%= u.name %>
    </h3>
    <p><a href="/add_position/<%=u.id%>">Add Position</a></p>

    <ul>
      <% u.positions.order("started_at DESC").each do |p| %>
        <li><a href="/show_position/<%=p.id%>"><%=p.title%></a></li>
      <% end %>
    </ul>

  <% end %>
</div>
